@{
    ViewData["Title"] = "Paradigm watch";
}
@model Dictionary<string, object>
<div class="bg-primary m-1 p-1 text-white"><h4>User Details</h4></div>
<table class="table table-sm table-bordered m-1 p-1">
    @foreach (var kvp in Model)
    {
        <tr><th>@kvp.Key</th><td>@kvp.Value</td></tr>
    }
</table>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}
<section id="hero">


    <div class="heroContent">
        <aside class="sideText">
            <div class="sideTextContainer">
                <h4 class="bigParagraph">Award winning</h4>
                <p class="bigThinParagraph">By GTFO congress</p>
            </div>
            <div class="sideTextContainer">
                <h4 class="bigParagraph">Swiss design</h4>
                <p class="bigThinParagraph">3000 moving parts</p>
            </div>

        </aside>


        <div class="slideCounter">
            <p id="currentSlide">01</p>
            <p class="classesRemaining">/03</p>
        </div>

        <div class="slideController">
            <div class="slideControllerButtons">
                <div class="control"><</div>
                <div class="control">></div>
            </div>
            <div class="slideControllerButtons">
                <p class="lightParagraph sliderControlLabel">Back</p>
                <p class="lightParagraph sliderControlLabel">Next</p>
            </div>
        </div>


        <div class="slideDetails">
            <h2 class="productTitle">Apollo</h2>
            <p class="productShort">“MY AMAZING MOTTO IS SO GREAT, THAT IS UNSPEAKABLE”</p>
        </div>

        <div class="navigationLinks">
            <a href="#" class="secondaryLink">Learn More</a>
            <a href="#" class="primaryLink">Build your own</a>
        </div>
    </div>
    <div class="slider">
        <div class="content wrapper">
            <img class="sliderImg" src="~/Images/Apollo.png" alt="Apollo" />
            <h2 class="sliderText">APOLLO</h2>

            <div class="content" id="slide1"></div>
        </div>
        <div class="content wrapper">
            <h2 class="sliderText">APOLLO</h2>
            <div class="content" id="slide1"></div>
        </div>
    </div>




</section>

@* ______________________________________            NEW SECTION           _________________________________________________ *@

<section id="disclaimer">
    <h2 class="disclaimer"></h2>
    <p class="bigParagraph"></p>
</section>

@* ______________________________________            NEW SECTION           _________________________________________________ *@

<section id="productDisplay">
    <div class="sortProduct">
        <div class="sortContent">
            <div class="sortType">
                <ul class="sortGrid">
                    <li class="sortGridBox"></li>
                    <li class="sortGridBox"></li>
                    <li class="sortGridBox"></li>
                    <li class="sortGridBox"></li>
                </ul>
                <ul class="sortList">
                    <li class="sortListBox"></li>
                    <li class="sortListBox"></li>
                    <li class="sortListBox"></li>
                    <li class="sortListRectangle"></li>
                    <li class="sortListRectangle"></li>
                    <li class="sortListRectangle"></li>
                </ul>
            </div>
            <div class="sortBy">
                <label for="sortOrder">Select by:</label>
                <select id="sortOrder">
                    <option value="A-Z">A to Z</option>
                    <option value="A-Z">Z to A</option>
                </select>
            </div>
        </div>
        <div class="line"></div>
    </div>
    <div class="products">
        <div class="productContainer">
            <a class="productImage">
                <img src="" alt="" />
            </a>
            <div class="productDescription">
                <h2>Apollo</h2>
                <p>Description</p>
            </div>
        </div>
    </div>
    <button>Go to shop</button>
</section>

@* ______________________________________            NEW SECTION           _________________________________________________ *@

<section id="premise">
    <h3 class="subTitle"></h3>
    <p>Description</p>
</section>

@* ______________________________________            NEW SECTION           _________________________________________________ *@

